<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="steering_wheel_right_joint">
            <command_interface name="velocity">
                <param name="min">-100.0</param>
                <param name="max">100.0</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="steering_wheel_left_joint">
            <command_interface name="velocity">
                <param name="min">-100.0</param>
                <param name="max">100.0</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="linear_actuator_joint">
            <command_interface name="effort">
                <param name="min">0.0</param>
                <param name="max">5000.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find articubot_one)/config/my_controllers.yaml</parameters>
            <!-- <parameters>$(find articubot_one)/config/gaz_ros2_ctl_use_sim.yaml</parameters> -->
        </plugin>
    </gazebo>
</robot>